// ---icons---
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);

// ---base---
@import "./base/reset";

// ---abstract---
@import "./abstract/mixin";
@import "./abstract/variable";

// ---components---
@import "./components/_responsive.scss";
@import "./components/footer";
@import "./components/nav";

// ---pages---
@import "./pages/contact";
@import "./pages/about";
@import "./pages/home";
@import "./pages/projects";

body {
  color: $text-color;
  font-family: $font-family;
  background-color: $primary-color;
}

a {
  color: $text-color;
}

h1,
h2,
h3 {
  font-weight: 400;
}
