.link-style{
    a{
        padding: 0.5rem;
        @include transition(1s);

        &:hover{
            color: $secondary-color;
        }
    }
}

.horizontal{
    height: 10vh;
    @extend .link-style;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.vertical{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
 
    .social-icons{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom:1rem;
        @extend .link-style;
    }
    .copyright{
        position: fixed;
        bottom: 1rem;
        right: 2rem;
        /* transform: rotate(90deg) translate(-3rem, -5rem); */
        writing-mode: vertical-lr;
    }
}

.middle{
    height: 10vh;
    @extend .link-style;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}